<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency Prices</title>
</head>
<body>
    <h1>Currency Prices</h1>
    <table border="1">
        <tr>
            <th>Time</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Pair</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.time }}</td>
            <td>{{ item.open }}</td>
            <td>{{ item.high }}</td>
            <td>{{ item.low }}</td>
            <td>{{ item.close }}</td>
            <td>{{ item.pair }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>